<div fxLayout="column" [style.height]="'100vh'">
  <ruf-banner>
    <ruf-banner-brand [title]="title"></ruf-banner-brand>
    <ruf-banner-row fxHide.xs>
      <ruf-navbar color="default">
        <ruf-menubar rufMarginLeft="none">
          <a rufMenubarItem routerLink="welcome" routerLinkActive="ruf-menubar-item-active">Welcome</a>
        </ruf-menubar>
      </ruf-navbar>
    </ruf-banner-row>
  </ruf-banner>
  <ruf-app-canvas fxFlex [style.overflow-y]="'auto'">
    <!-- <router-outlet></router-outlet> -->
  </ruf-app-canvas>
  <ruf-footer>
    © 2021 FIS
  </ruf-footer>
</div>