// theme mixin
@mixin <user-login>-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $emphasis: map-get($theme, emphasis);
    $warn: map-get($theme, warn);
     
    .<user-login> {
      .my-css-class {
          background: ruf-color($background, app-canvas);
          border-color: ruf-color($foreground, border);
      }
    }
}
   
// typography mixin
@mixin <user-login>-typography($config) {      
    .<user-login> {
      .my-css-class {
          font-size: ruf-font-size($config, title);
          font-weight: ruf-font-weight($config, title);
      }
    }
}