wheel==0.37.0
cffi==1.14.6
click==8.0.1
cryptography==3.4.7
Flask==2.0.1
Flask-MySQLdb==0.2.0
flask-swagger-ui==3.36.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysqlclient==2.0.3
pycparser==2.20
PyJWT==2.1.0
Werkzeug==2.0.1
