<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
    <div class="form-group">
      <h2>User Login</h2>
    </div>
    <hr>
    <!-- This div is still under work. -->
    <div *ngIf="user$ | async as user; else loading;" class="form-group">
      <label for="userName">Username:</label>
      <em *ngIf="loginForm.controls.userName?.invalid && 
      (loginForm.controls.userName?.touched)">Field required</em>
      <input [(ngModel)]="userName" name="userName" required id="userName" value="{{ message$ | async }}" type="text" class="form-control" placeholder="Username..." />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid && 
      (loginForm.controls.password?.touched)">Field required</em>
      <input (ngModel)="password" name="password" required id="password" type="password" class="form-control"placeholder="Password..." />
    </div>

    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </span>    
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
  <br>
  <!-- <div *ngIf="loginInvalid" class="alert alert-danger">Invalid Login Info</div> -->
</div>
<ng-template #loading>Loading data...</ng-template>